<p style="color: green"><%= notice %></p>

<h1>Movies</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Rating</th>
      <th>Description</th>
      <th>Release Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @movies.each do |movie| %>
    <%= render partial: 'movie', locals: { movie: movie, context: 'index' } %>
  <% end %>
  </tbody>
</table>

<%= link_to "New movie", new_movie_path, class: "btn btn-primary" %>
